<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="dsdbConfig"
             type="RiakClient.Config.RiakClusterConfiguration, RiakClient"/>
  </configSections>

  <dsdbConfig defaultRetryCount="0">
    <nodes>
      <!-- hostAddress为数据库的ip地址，pbcPort为数据库的端口号-->
      <node name="dsdb" hostAddress="yourServerUrl"
            pbcPort="yourPort"  />
    </nodes>
  </dsdbConfig>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>
